pipeline/pipeline1.json
{
	"name": "pipeline1",
	"properties": {
		"activities": [
			{
				"name": "Web1",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": {
						"value": "https://login.microsoftonline.com/blueyonderus.onmicrosoft.com/oauth2/v2.0/token",
						"type": "Expression"
					},
					"connectVia": {
						"referenceName": "AutoResolveIntegrationRuntime",
						"type": "IntegrationRuntimeReference"
					},
					"method": "POST",
					"headers": {
						"Content-Type": {
							"value": "application/x-www-form-urlencoded",
							"type": "Expression"
						}
					},
					"body": {
						"value": "grant_type=client_credentials&client_id=5b5e635a-2273-400d-ad6e-e82290053523&scope=https://blueyonderus.onmicrosoft.com/69adb04d-658f-4b86-a659-67fe0f23bd1f/.default&client_secret=JHA8Q~MMRjX_2ckOmh87tdQDCiLlTYp58PNChbrq",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Copy data1",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Web1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "RestSource",
						"httpRequestTimeout": "00:01:40",
						"requestInterval": "00.00:00:00.010",
						"requestMethod": "POST",
						"requestBody": "ITEM,ITEMDESC,U_ITEM_TYPE,ITEMFAMILYGROUP,LINEOFBUSINESS,OWNEROFTRADEITEM,PARTICIPANTNAME,ITEMSTATUSCODE,UNITRETAILPRICE,UNITRETAILPRICE_CURRENCYCODE,U_FAMILY,U_CLASS_CD_SUBCLASS_CD,U_CLASS_CD,U_CATEGORY,SEGMENT,UNITOFMEASURE,ITEMCLASS,SBU,FAMILY,U_Product_Hierarchy,,\n951971,OPTICAL MOD SPTSBP3PTCSM001,Purchased,Sensors,Network,CUST,CUST,Active,100,USD,,,,,,PALLET,DCG,Intel,SPTSBP3PTC,Finished GD-Board,,\n951988,OPTICAL MOD SPTSBP3PTCSM003,Purchased,Sensors,Network,CUST,CUST,Active,100,USD,,,,,,PALLET,DCG,Intel,SPTSBP3PTC,Finished GD-Board,,\n952014,OPTICAL MOD SPTSBP3PTCSM006,Purchased,Sensors,Network,CUST,CUST,Active,100,USD,,,,,,PALLET,DCG,Intel,SPTSBP3PTC,Finished GD-Board,,",
						"additionalHeaders": {
							"Authorization": {
								"value": "Bearer @{activity('Web1').output.access_token}",
								"type": "Expression"
							}
						},
						"paginationRules": {
							"supportRFC5988": "true"
						}
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobStorageWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".csv"
						}
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "RestResource1",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "BY_DMS_API_Sink_DS",
						"type": "DatasetReference"
					}
				]
			}
		],
		"annotations": []
	}
}