pipeline/pl_integrate_BY_DMS_using_RestAPI_to_Azure_Storage.json
{
	"name": "pl_integrate_BY_DMS_using_RestAPI_to_Azure_Storage",
	"properties": {
		"activities": [
			{
				"name": "Token for BY DMS using Rest API",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": {
						"value": "https://login.microsoftonline.com/blueyonderus.onmicrosoft.com/oauth2/v2.0/token",
						"type": "Expression"
					},
					"connectVia": {
						"referenceName": "AutoResolveIntegrationRuntime",
						"type": "IntegrationRuntimeReference"
					},
					"method": "POST",
					"headers": {
						"Content-Type": {
							"value": "application/x-www-form-urlencoded",
							"type": "Expression"
						}
					},
					"body": {
						"value": "grant_type=client_credentials&client_id=5b5e635a-2273-400d-ad6e-e82290053523&scope=https://blueyonderus.onmicrosoft.com/69adb04d-658f-4b86-a659-67fe0f23bd1f/.default&client_secret=JHA8Q~MMRjX_2ckOmh87tdQDCiLlTYp58PNChbrq",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Copy file from BY DMS using Rest API to storage account",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Token for BY DMS using Rest API",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "RestSource",
						"httpRequestTimeout": "00:01:40",
						"requestInterval": "00.00:00:00.010",
						"requestMethod": "POST",
						"additionalHeaders": {
							"Authorization": {
								"value": "Bearer @{activity('Token for BY DMS using Rest API').output.access_token}",
								"type": "Expression"
							}
						},
						"paginationRules": {
							"supportRFC5988": "true"
						}
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobStorageWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".csv"
						}
					},
					"enableStaging": false
				},
				"outputs": [
					{
						"referenceName": "ds_by_dms_Rest_API_2",
						"type": "DatasetReference"
					}
				]
			}
		],
		"annotations": []
	}
}